In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle("./semdata/02299E024E57AAC733A13994B6245F7F.pkl")

For each subject there are 11 columns in each DataFrame. Colums 1-8 are sensor data which are sampled at 250 Hz. Columns 9-11 are the corresponding labels.

In [3]:
df

,Temperature,GSR,EOG1,EOG2,EEG1,EEG2,RED_RAW,IR_RAW,Arousal,Dominance,Valence
0,15517.0,16220066.0,16729469.0,16776181.0,15338010.0,15712292.0,74496.0,94500.0,4,9,8
1,15517.0,16206359.0,16730169.0,16776171.0,15345679.0,15715514.0,74496.0,94500.0,4,9,8
2,15517.0,16217954.0,16732227.0,16776202.0,15353011.0,15719465.0,74496.0,94500.0,4,9,8
3,15517.0,16241327.0,16730702.0,16776186.0,15332002.0,15711231.0,74496.0,94500.0,4,9,8
4,15517.0,16223826.0,16730356.0,16776175.0,15323593.0,15709647.0,74496.0,94500.0,4,9,8
...,...,...,...,...,...,...,...,...,...,...,...
210995,15464.0,95063.0,16479002.0,16776172.0,14638242.0,14995702.0,72879.0,93639.0,4,9,8
210996,15464.0,73905.0,16480067.0,16776177.0,14649707.0,15001432.0,72879.0,93639.0,4,9,8
210997,15464.0,60127.0,16481202.0,16776178.0,14660111.0,15005753.0,72870.0,93619.0,4,9,8
210998,15464.0,81558.0,16479942.0,16776177.0,14656747.0,14999950.0,72870.0,93619.0,4,9,8
210999,15464.0,89944.0,16481044.0,16776177.0,14655222.0,15001463.0,72870.0,93619.0,4,9,8

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211000 entries, 0 to 210999
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Temperature  211000 non-null  float64
 1   GSR          211000 non-null  float64
 2   EOG1         211000 non-null  float64
 3   EOG2         211000 non-null  float64
 4   EEG1         211000 non-null  float64
 5   EEG2         211000 non-null  float64
 6   RED_RAW      211000 non-null  float64
 7   IR_RAW       211000 non-null  float64
 8   Arousal      211000 non-null  int64
 9   Dominance    211000 non-null  int64
 10  Valence      211000 non-null  int64
dtypes: float64(8), int64(3)
memory usage: 17.7 MB

In [6]:
df.describe()

,Temperature,GSR,EOG1,EOG2,EEG1,EEG2,RED_RAW,IR_RAW,Arousal,Dominance,Valence
count,211000.000000,2.110000e+05,2.110000e+05,2.110000e+05,2.110000e+05,2.110000e+05,211000.000000,211000.000000,211000.0,211000.0,211000.0
mean,15468.105265,1.059596e+07,1.576989e+07,1.677517e+07,1.474584e+07,1.503297e+07,73588.084464,94326.383711,4.0,9.0,8.0
std,52.731205,7.566320e+06,3.228348e+06,1.099024e+05,6.446949e+05,6.490025e+05,719.261778,1191.114547,0.0,0.0,0.0
min,15332.000000,0.000000e+00,6.000000e+00,2.031000e+03,7.000000e+00,7.000000e+00,71381.000000,90235.000000,4.0,9.0,8.0
25%,15431.000000,1.674310e+05,1.630004e+07,1.677617e+07,1.437536e+07,1.467846e+07,73035.000000,93510.000000,4.0,9.0,8.0
50%,15476.000000,1.582953e+07,1.648357e+07,1.677618e+07,1.475449e+07,1.507310e+07,73708.000000,94276.000000,4.0,9.0,8.0
75%,15513.000000,1.629244e+07,1.659240e+07,1.677619e+07,1.526564e+07,1.558878e+07,74150.000000,95080.000000,4.0,9.0,8.0
max,15558.000000,1.677721e+07,1.677721e+07,1.677627e+07,1.677618e+07,1.670468e+07,75525.000000,98081.000000,4.0,9.0,8.0